.CaretDown { 
  position: relative;
  top: 1px;
  transition: transform 300ms ease-in-out;
}

/* for conditionally checking based on state of parent container */
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  width: 100%;
  border-radius: 0.75rem;
  transition-duration: 300;
  transition-timing-function: ease;
}

/* checking parent containers to either scale in or out when selected */
.NavigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}

.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}